<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partial/restaurantHead')%>
</head>

<body>
    <%- include('./partial/restaurantNav')%>
        <!-- Banner-->
        <section class="row">
            <img src="<%= shop.shop_index_img %>" class="col-12">
        </section>

        <!-- information-->
        <section class="information">
            <div class="d-flex flex-row">
                <h2 class="ps-5 titleName">
                    <%= shop.shop_name %>
                </h2>
                <!-- 愛心收藏 -->
                <div id="heart" class="infoIcon ms-auto me-3 mt-5">
                    <i class="bi <%= comment &&comment.comment_favorite === 1 ? 'bi-suit-heart-fill' : 'bi-suit-heart' %>" id="like" data-shop-id="<%= shop.shop_id %>"></i>
                </div>

                <!-- 填寫評論 -->
                <div class="infoIcon me-5 mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                        class="bi bi-pencil-square"></i></div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                    <%= shop.shop_name %>
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" id="submit-comment-form">
                                    <input type="hidden" name="shop_id" value="<%= shop.shop_id %>">
                                    <!-- 打星星 -->
                                    <div class="star mt-1">
                                        <input type="radio" id="star5" name="rate" value="5" />
                                        <label for="star5" title="text"></label>
                                        <input type="radio" id="star4" name="rate" value="4" />
                                        <label for="star4" title="text"></label>
                                        <input type="radio" id="star3" name="rate" value="3" />
                                        <label for="star3" title="text"></label>
                                        <input type="radio" id="star2" name="rate" value="2" />
                                        <label for="star2" title="text"></label>
                                        <input type="radio" id="star1" name="rate" value="1" />
                                        <label for="star1" title="text"></label>
                                    </div>
                                    <br>
                                    <!-- 評論內容 -->
                                    <div class="mt-4">
                                        <label for="message-text" class="col-form-label">說明您的體驗:</label>
                                        <input type="hidden" id="shop-name" value="<%= shop.shop_name %>">
                                        <textarea class="form-control" id="message-text" name="comment"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                        <button type="submit" class="btn btn-primary">送出</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap ps-5 mt-3">
                <div class="rating ps-1">
                    <!-- <p><i class="bi bi-star-fill pe-2"></i><span class="rate"></span>/5<span></span></p> -->
                    <p><i class="bi bi-star-fill pe-2"></i><span class="rate">4.8/5</span><span>(100+)</span></p>
                </div>
            </div>
            <p class="type mt-3">
                <%= shopClass.class_name %>
            </p>
        </section>

        <div class="gap"></div>

        <!-- Discount-->
        <div class="row">

            <div class="ps-5 mb-sm-1 col-md-7 col-sm-12">
                <h3 class=" titleName text-nowrap">商家優惠</h3>

                <div class="d-flex justify-content-start align-items-center">
                    <div class="restlogo mb-5"><img src="<%= shop.shop_logo_img %>"  ></div>
                    <div class="ms-5 d-flex flex-column active" data-bs-toggle="modal" data-bs-target="#myModal" title="預覽">
                        <div class="d-flex justify-content-between align-items-center text-nowrap">
                            <% if (active && active.active_title && active.active_enddate) { %>
                            <h6 class="text-muted"><%= active.active_title %></h6>
                            <span class="text-muted pe-5"><%= active.active_enddate %>止</span>
                            <% } %>
                        </div>
                        <% if (active && active.active_content) { %>
                        <p class="mt-3"><%= active.active_content %></p>
                        <% } %>
                    <!-- Modal 預覽-->
                    <% if (active && active.active_picture && active.active_title && active.active_startdate && active.active_enddate && active.active_content) { %>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">活動預覽</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="upload-container"
                                        style="background-color: rgb(190, 188, 185);height: 150px; width: auto;">
                                        <img id="previewImg" src="<%= active.active_picture %>" class="img-fluid">
                                    </div>
                                    <form>
                                        <div>
                                            <label for="recipient-name" class="col-form-label fw-bold pt-5">活動標題:</label>
                                            <span><%= active.active_title %></span>
                                        </div>
                                        <div>
                                            <label for="recipient-name" class="col-form-label fw-bold">活動時間:</label>
                                            <span><%= active.active_startdate %></span>~<span><%= active.active_enddate %></span>
                                        </div>
                                        <div>
                                            <label for="message-text" class="col-form-label fw-bold">活動說明:</label> <br>
                                            <span><%=active.active_content %></span>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    </div>
                </div>
    
            </div>

            <div class="col-md-5 ps-5 col-12 mb-5">
                <h3 class="titleName">合作平台</h3>

                <div class="position-relative">
                    <div class="d-flex">
                        <% if (shop.shop_uber || shop.shop_panda) { %>
                            <% if (shop.shop_uber) { %>
                                <a href="<%= shop.shop_uber %>" target="_blank">
                                <div class="platformlogo">
                                    <img src="/pic/Ubereat.png" class="img-fluid px-2">
                                </div>
                                </a>
                            <% } %>
                            <% if (shop.shop_panda) { %>
                                <a href="<%= shop.shop_panda %>" target="_blank">
                                <div class="platformlogo <%= shop.shop_uber ? 'ms-5' : '' %>">                                 
                                    <img src="/pic/FoodPanda-Logo.png"  class="img-fluid px-2">
                                </div>
                            </a>
                            <% } %>
                        <% } else { %>
                            <p>抱歉沒有配合的平台。</p>
                        <% } %>
                    </div>
                </div>

            </div>
        </div>

        <div class="gap"></div>

        <!-- Facilities -->
        <!-- row-cols-1 row-cols-md-3 -->
        <div class="row my-5 container-fluid text-nowrap ">
            <div class="col-md-4 ps-5 facilities">
                <div>
                    <h6><i class="bi bi-clock pe-3"></i>上午&nbsp&nbsp&nbsp<span style="color: <%= statusColor %>;"><%= openStatus %></span></h6>
                    <h6><i class="bi bi-clock pe-3 text-white"></i>開始時間<%= shop.shop_start_1 %>
                            <h6><i class="bi bi-clock pe-3 text-white"></i>結束時間<%= shop.shop_end_1 %>
                            </h6>
                            <% if (shop.shop_start_2 !==null && shop.shop_end_2 !==null) { %>
                                <h6><i class="bi bi-clock pe-3"></i>下午</h6>
                                <h6><i class="bi bi-clock pe-3 text-white"></i>開始時間<%= shop.shop_start_2 %>
                                </h6>
                                <h6><i class="bi bi-clock pe-3 text-white"></i>結束時間<%= shop.shop_end_2 %>
                                </h6>
                                <% } %>

                </div>
                <div class="pt-4 d-flex">
                    <i class="bi bi-house pe-3"></i>
                    <h6 class="pt-1 pe-4">
                        <%=shop.shop_address %>
                    </h6>
                </div>
                <h6 class="py-4"><i class="bi bi-telephone pe-2 connIcon"></i>
                    <%= shop.shop_phone %>
                </h6>
            </div>
            <div class="col-md-3 ps-5 my-5 my-md-1">
                <h6>設施與服務</h6>
                <div class=" pt-3 facilities">
                <%- shop.shop_parking==1 ? '<p>停車場</p>' : '' %>
                <%- shop.shop_child==1 ? '<p>兒童座椅</p>' : '' %>
                <%- shop.shop_pet==1 ? '<p>寵物友善</p>' : '' %>
                <%- shop.shop_credit_card==1 ? '<p>信用卡</p>' : '' %>
                <%- shop.shop_linepay==1 ? '<p>linepay</p>' : '' %>
                <%- shop.shop_jkopay==1 ? '<p>街口支付</p>' : '' %>
                <% if(shop.shop_parking !==1 && shop.shop_child !==1 && shop.shop_pet !==1
                && shop.shop_credit_card !==1 && shop.shop_linepay !==1 &&
                shop.shop_jkopay !==1) { %>
                <p>抱歉，此店家沒有提供相關服務</p>
                <% } %>
                </div>
            </div>
            <div class="col-md-5 px-5 ">
                <div class="d-flex align-items-center justify-content-start me-5">
                    <div class="border rounded">
                        <iframe
                            src="<%= shop.shop_map_api %>"
                            width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="gap"></div>

        <!-- Foodcard-->
        <div class="container py-5">
            <div class="row gy-5 gx-5">
                <!-- 食物卡迴圈 -->
                <% menu.forEach(function(menu) { %>
                    <div class="col-md-3 col-sm-6">
                        <div class="card foodcard" data-menu-price="<%= menu.menu_price %>"
                            data-menu-uber="<%= menu.menu_uber %>" data-menu-panda="<%= menu.menu_panda %>">
                            <div class="card-body">
                                <p class="card-text ">
                                    <%= menu.menu_name %>
                                </>
                                <div class="img-container">
                                    <img src="<%= menu.menu_picture %>" class="card-img-bottom  ps-sm-4">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>

        <div class="gap"></div>

        <!-- Footer -->
        <%- include('./partial/footer')%>
</body>

</html>